openapi: 3.1.0
info:
  title: moos-api
  version: '1.0'
  license:
    name: GPL 3.0
    url: 'https://www.gnu.org/licenses/gpl-3.0.html'
  contact:
    name: Admin
    email: admin@wolkeneis.dev
    url: 'https://wolkeneis.dev/contact'
  termsOfService: 'https://wolkeneis.dev/privacy'
  description: Moos API 1.0
servers:
  - url: 'https://moos.wolkeneis.dev/api/v1'
    description: V1 Endpoint
tags:
  - name: application
    description: Public Application API
  - name: csrf-token
    description: CSRF Token API (only for wolkeneis.dev frontend)
  - name: profile
    description: Profile API (only for wolkeneis.dev frontend)
  - name: session
    description: Session API (only for wolkeneis.dev frontend)
paths:
  /profile:
    post:
      tags:
        - profile
      summary: Fetch Profile
      operationId: fetch-profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Unauthorized
        '403':
          description: Invalid csrf token
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      description: 'Get your own Profile, if you are logged in with a session cookie'
    patch:
      tags:
        - profile
      summary: Patch Profile
      operationId: patch-profile
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                private:
                  type: boolean
      description: 'Update your own Profile information, if you are logged in with a session cookie'
  /profile/file:
    post:
      summary: Get File
      tags:
        - profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: string
                    format: uuid
                  url:
                    type: string
                    format: uri
                  ttl:
                    type: integer
                    format: int64
                required:
                  - id
                  - url
                  - ttl
            application/xml:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-profile-file
      security:
        - session: []
      description: 'Request a pre-signed download url for a file you want to download, if you are logged in with a session cookie.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
                ttl:
                  type: integer
                  minimum: 60
                  maximum: 43200
                  multipleOf: 60
                  format: int64
                  default: 14400
              required:
                - id
    delete:
      summary: Delete File
      operationId: delete-profile-file
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Invalid CSRF Token
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      description: 'Delete the file selected with the id parameter, if you are logged in with a session cookie.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
              required:
                - id
      tags:
        - profile
    put:
      summary: Create File
      operationId: put-profile-file
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                private:
                  type: boolean
                  default: true
              required:
                - name
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: string
                    format: uuid
                  url:
                    type: string
                    format: uri
                  ttl:
                    type: integer
                    format: int64
                required:
                  - id
                  - url
                  - ttl
        '401':
          description: Unauthorized
        '403':
          description: Invalid CSRF Token
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      description: 'Request a pre-signed upload url for a file you want to upload, if you are logged in with a session cookie.'
      tags:
        - profile
    patch:
      tags:
        - profile
      summary: Patch File Metadata
      operationId: patch-profile-file
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
                private:
                  type: boolean
                name:
                  type: string
              required:
                - id
      description: 'Update the metadata of one of your files, if you are logged in with a session cookie.'
    parameters: []
  /profile/files:
    post:
      summary: List all files
      tags:
        - profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-profile-files
      description: 'Get a list of your own files, if you are logged in with a session cookie'
      security:
        - session: []
  /profile/collection:
    put:
      summary: ''
      operationId: put-profile-collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonGroup'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                visibility:
                  type: string
                  enum:
                    - private
                    - public
                    - unlisted
                  default: private
                thumbnail:
                  type: string
                  format: uri
              required:
                - name
        description: ''
    post:
      summary: ''
      operationId: post-profile-collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonGroup'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
              required:
                - id
    patch:
      summary: ''
      operationId: patch-profile-collection
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                visibility:
                  type: string
                  enum:
                    - public
                    - private
                    - unlisted
                thumbnail:
                  type: string
                  format: uuid
              required:
                - id
    delete:
      summary: ''
      operationId: delete-profile-collection
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
              required:
                - id
  /profile/list:
    put:
      summary: ''
      operationId: put-profile-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                groupId:
                  type: string
                  format: uuid
                index:
                  type: integer
              required:
                - groupId
                - index
        description: ''
    post:
      summary: ''
      operationId: post-profile-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
              required:
                - id
    patch:
      summary: ''
      operationId: patch-profile-list
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
                index:
                  type: integer
              required:
                - id
    delete:
      summary: ''
      operationId: delete-profile-list
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
              required:
                - id
    parameters: []
  /profile/episode:
    put:
      summary: ''
      operationId: put-profile-episode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Episode'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                seasonId:
                  type: string
                  format: uuid
                index:
                  type: integer
                name:
                  type: string
              required:
                - seasonId
                - index
                - name
        description: ''
    post:
      summary: ''
      operationId: post-profile-episode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Episode'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                seasonId:
                  type: string
                  format: uuid
                id:
                  type: string
                  format: uuid
              required:
                - seasonId
                - id
    patch:
      summary: ''
      operationId: patch-profile-episode
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                seasonId:
                  type: string
                  format: uuid
                id:
                  type: string
                  format: uuid
                index:
                  type: integer
                name:
                  type: string
              required:
                - seasonId
                - id
    delete:
      summary: ''
      operationId: delete-profile-episode
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                seasonId:
                  type: string
                id:
                  type: string
                  format: uuid
              required:
                - seasonId
                - id
    parameters: []
  /profile/source:
    put:
      summary: ''
      operationId: put-profile-source
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                seasonId:
                  type: string
                  format: uuid
                episodeId:
                  type: string
                  format: uuid
                language:
                  $ref: '#/components/schemas/Language'
                name:
                  type: string
                url:
                  type: string
                  format: uri
                key:
                  type: string
                  format: uuid
                subtitles:
                  $ref: '#/components/schemas/Language'
              required:
                - seasonId
                - episodeId
                - language
        description: ''
    post:
      summary: ''
      operationId: post-profile-source
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  url:
                    type: string
                    format: uri
                required:
                  - url
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
              required:
                - id
    delete:
      summary: ''
      operationId: delete-profile-source
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                seasonId:
                  type: string
                  format: uuid
                episodeId:
                  type: string
                  format: uuid
                id:
                  type: string
                  format: uuid
              required:
                - seasonId
                - episodeId
                - id
    parameters: []
    patch:
      summary: ''
      operationId: patch-profile-source
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - CSRF-Token: []
        - session: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                seasonId:
                  type: string
                  format: uuid
                episodeId:
                  type: string
                  format: uuid
                id:
                  type: string
                  format: uuid
                language:
                  $ref: '#/components/schemas/Language'
                name:
                  type: string
                url:
                  type: string
                  format: uri
                key:
                  type: string
                  format: uuid
                subtitles:
                  $ref: '#/components/schemas/Language'
              required:
                - seasonId
                - episodeId
                - id
  /csrf-token:
    get:
      tags:
        - csrf-token
      summary: ''
      operationId: get-csrf-token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  _csrf:
                    type: string
                required:
                  - _csrf
      description: Endpoint for requesting the CSRF Token
    post:
      tags:
        - csrf-token
      summary: ''
      operationId: test-csrf-token
      responses:
        '204':
          description: No Content
        '403':
          description: Invalid csrf token
      security:
        - CSRF-Token: []
      description: Endpoint for testing the CSRF Token
  /session:
    post:
      tags:
        - session
      summary: ''
      operationId: request-session
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Invalid csrf token
      description: Endpoint for requesting a session cookie
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
              required:
                - token
        description: ''
      security:
        - CSRF-Token: []
    delete:
      tags:
        - session
      summary: ''
      operationId: revoke-session
      responses:
        '204':
          description: No Content
        '403':
          description: Invalid csrf token
        '500':
          description: Internal Server Error
      description: Endpoint for revoking a session cookie
      security:
        - session: []
        - CSRF-Token: []
  /application/profile:
    get:
      summary: Fetch User Profile
      operationId: get-application-profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: Bad Request
      security:
        - oauth2:
            - identify
            - '*'
        - bearer: []
      description: Fetch profile associated with the bearer token.
      tags:
        - application
components:
  schemas:
    UserProfile:
      type: object
      title: profile
      additionalProperties: false
      examples:
        - uid: string
          username: string
          avatar: 'http://example.com'
          scopes:
            - '*'
          private: true
          applications:
            - {}
          creationDate: 0
      properties:
        uid:
          type: string
          format: uuid
        username:
          type: string
        avatar:
          type:
            - string
            - 'null'
          format: uri
        scopes:
          type: array
          items:
            type: string
            enum:
              - '*'
        private:
          type: boolean
          default: false
        providers:
          type: array
          items:
            $ref: '#/components/schemas/ProviderProfile'
        applications:
          type: array
          items:
            type: string
            format: uuid
        creationDate:
          type: integer
          format: int64
      required:
        - uid
        - username
        - avatar
        - scopes
        - private
        - applications
        - creationDate
    ProviderProfile:
      type: object
      title: provider-profile
      additionalProperties: false
      properties:
        provider:
          type: string
          enum:
            - discord
            - google
        providerId:
          type: string
        username:
          type: string
        avatar:
          type:
            - string
            - 'null'
          format: uri
      required:
        - provider
        - providerId
        - username
        - avatar
    Application:
      type: object
      title: application
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        redirectUri:
          type: string
          format: uri
        owner:
          type: string
          format: uuid
        trusted:
          type: boolean
          default: false
        creationDate:
          type: integer
          format: int64
      required:
        - id
        - name
        - redirectUri
        - owner
        - trusted
        - creationDate
    File:
      type: object
      title: file
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          format: uuid
        owner:
          type: string
          format: uuid
        private:
          type: boolean
          default: true
        size:
          type: integer
          format: int64
        creationDate:
          type: integer
          format: int64
        lastModified:
          type: integer
          format: int64
      required:
        - id
        - name
        - owner
        - private
        - size
        - creationDate
        - lastModified
    Episode:
      type: object
      x-examples:
        example-1:
          id: 11a2c3f4-609b-4f5b-932b-211d61ee5d0c
          index: 1
          name: Big Buck Bunny
          sources:
            - language: en
              key: 11a2c3f4-609b-4f5b-932b-211d61ee5d0c
            - language: de
              key: 11a2c3f4-609b-4f5b-932b-211d61ee5d0c
              name: Big Bunny Buck
      title: ''
      additionalProperties: false
      description: ''
      properties:
        seasonId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        index:
          type: integer
        name:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        creationDate:
          type: integer
          format: int64
      required:
        - seasonId
        - id
        - index
        - name
        - sources
        - creationDate
    Source:
      type: object
      title: Source
      x-stoplight:
        id: 5op4gnxkuagrv
      additionalProperties: false
      properties:
        seasonId:
          type: string
          format: uuid
        episodeId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        language:
          $ref: '#/components/schemas/Language'
        name:
          type: string
        url:
          type: string
          format: uri
        key:
          type: string
          format: uuid
        subtitles:
          $ref: '#/components/schemas/Language'
        creationDate:
          type: integer
          format: int64
      required:
        - seasonId
        - episodeId
        - id
        - language
        - name
        - creationDate
    Language:
      type: string
      title: Language
      x-stoplight:
        id: 1cqshrxig5nxl
      default: en_EN
      enum:
        - en_EN
        - de_DE
        - ja_JP
      example: de_DE
    Season:
      type: object
      title: Season
      x-stoplight:
        id: 50p8x56g8b91i
      additionalProperties: false
      properties:
        collectionId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        index:
          type: integer
        episodes:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
        languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
        subtitles:
          type: array
          items:
            $ref: '#/components/schemas/Language'
      required:
        - collectionId
        - id
        - index
        - episodes
        - languages
        - subtitles
    SeasonGroup:
      type: object
      title: SeasonGroup
      x-stoplight:
        id: 5d0b8ul7yeocg
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        visibility:
          type: string
          default: private
          enum:
            - private
            - public
            - unlisted
        seasons:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
        thumbnail:
          type: string
          format: uuid
        owner:
          type: string
        creationDate:
          type: integer
          format: int64
      required:
        - id
        - name
        - visibility
        - seasons
        - owner
        - creationDate
  securitySchemes:
    CSRF-Token:
      type: apiKey
      in: header
      name: CSRF-Token
    session:
      name: session
      type: apiKey
      in: cookie
      description: Session Cookie
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          tokenUrl: 'https://moos.wolkeneis.dev/oauth2/token'
          refreshUrl: 'https://moos.wolkeneis.dev/oauth2/refresh'
          scopes:
            identify: ''
            '*': ''
            files: ''
          authorizationUrl: 'https://moos.wolkeneis.dev/oauth2/authorize'
        implicit:
          authorizationUrl: 'https://moos.wolkeneis.dev/oauth2/authorize'
          scopes:
            identify: ''
            '*': ''
            files: ''
          refreshUrl: 'https://moos.wolkeneis.dev/oauth2/refresh'
    bearer:
      type: http
      scheme: bearer
  requestBodies: {}
